<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand"><a href="/">Cover</a></h3>
        <nav>
            <ul class="nav masthead-nav">
                <li class="active"><a [routerLink]="['']" routerLinkActive="active">Home</a></li>
                <li><a [routerLink]="['/search']" routerLinkActive="active">Search apéro</a></li>
                <li><a [routerLink]="['/create']" routerLinkActive="active">Organize apéro</a></li>
                <li><a [routerLink]="['/login']" routerLinkActive="active">Sign in</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="col-md-8" id="main">
    <router-outlet></router-outlet>
</div>
<div class="col-md-4" id="sidebar">
    <my-sidebar></my-sidebar>
</div>
