<h1>Create Apero</h1>
<form *ngIf="active" (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
        <input type="text" class="form-control" required
               name="title" placeholder="Title">
    </div>

    <div class="form-group">
        <select class="form-control"  required
                 name="power">
            <option *ngFor="let category of categories" [value]="category.id">{{category.title}}</option>
        </select>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" required
               name="content" placeholder="Content">
    </div>
    <button type="submit" class="btn btn-default" (click)="createApero()">Submit</button>
</form>